@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(66, 0, 77, 0.8);
  display: flex;
  flex:1fr;
  justify-content: center;
  align-items: center;
}
.App {
  margin-top: 5rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  align-items: center;
  padding: 5px 5px;
  border: solid 0px ;
  box-shadow: 0px 0px 30px 5px #ffffff;
  border-radius: 10px;
  text-wrap: wrap;
}
.TodoInput, .TodoButton{
  padding: 8px 8px;
  border-radius: 10px;
  border-style: hidden;
  
}
.TodoInput{
width: 100%;
background-color: #ffffff;
margin-right: 10px;
font-size: 16px;
}
.TodoButton{
  background-color: blueviolet;
  color: white;
  height: 40px;
  width: 150px;
  transition: 0.2s;
}
.TodoButton:hover{
  background-color: #ffffff;
  font-weight: 800;
  color: blueviolet;
  border:  solid 2px blueviolet;
}
h1{
  padding-bottom: 15px;
  color: #484848;
  font-weight: 600;
}
.TodoForm{
  display: flex;
  flex: 1fr;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.Todo{
  width: 100%;
  background-color: deeppink;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 8px 8px;
  border-radius: 10px;
  border-style: hidden;
}
.TodoWrapper {
  background: rgba(255, 215, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 5px;
}
ul{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 80px;
  list-style: none;;
}
.fa-trash {
  margin-left: 1.75rem;
}

.incomplete-task {
  color: #fff;
  font-size: 17px;
  cursor: pointer;
}

.task-completed {
  color: #ccb9fe;
  font-size: 17px;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  position: relative;
}
.edit-text, .delete-text{
  color: #fff;
  background-color: rgb(40, 40, 40);
  padding: 3px 3px;
  font-size: 10px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s;
}
.edit-text{
  position: absolute;
  right: -5px;
  bottom: -30px;
}
.delete-text{
  position: absolute;
  right: -8px;
  bottom: -30px;
}
.edit-icon:hover .edit-text,
.delete-icon:hover .delete-text{
  opacity: 1;
}
.date{
  display: flex;
}